#about {
    text-align: center;
}

.about-wrap {
    padding: 10% 10%;
}

.about-para {
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 1.5em;
    color: gray;
}

.about-hdr {
    margin: 1em 0 3em 0;
    font-size: 1.5em;
}