#about {
    text-align: center;
    background-color: #fffbfc;
}

.about-para {
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 1.5em;
    color: #7C7C7C;
}

.about-hdr {
    margin: 1em 0 3em 0;
    font-size: 1.5em;
}