#about {
    text-align: center;
    background-color: #fffbfc;
    min-height: 100vh;
}

.wrap {
    height: 100%;
}

.about-para {
    max-width: 55ch;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    line-height: 1.5em;
    color: #7C7C7C;
    font-family: 'Lato', sans-serif;
}

.text-wrap p:first-child {
    margin-top: 0;
}

.about-hdr {
    margin: 1em 0 3em 0;
    font-size: 1.2em;
}

.about-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headshot-wrap {
    width: 20%;
    margin: 0 5%;
}

.headshot {
    max-width: 100%;
    border-radius: 25px;
}

.text-wrap {
    width: 70%;
    text-align: left;
    font-size: 16px;
}
