#contact {
    text-align: center;
    background-color: #A63D40;
    color: #FFFBFC;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-link-wrap {
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    min-width: 25px;
}

.contact-link {
    text-align: center;
    color: white;
    text-decoration: none;
}

.linkedin {
    background-color: #0077B5;
}

.facebook {
    background-color: #3b5998;
}

.github {
    background-color: #4078c0;
}

.gmail {
    background-color: #c71610;
}