nav {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    position: absolute;

    /* used position fixed to make nav sticky */
}

.home-hdr {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 1em;
    position: relative;
}

.nav-link:hover {
    color: white;
}

.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    /*left: 0;*/
    background-color: white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#home {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url("http://www.yosemitehikes.com/images/wallpaper/yosemitehikes.com-swinging-bridge-1920x1200.jpg");
    top: 0;
    left: 0;
    text-shadow: 2px 4px 3px rgba(0,0,0,.5);
}

.hdr-hero {
    letter-spacing: .1em;
}

.hdr-support {
    letter-spacing: .2em;
}

.hdr-text {
    color: white;
    -webkit-margin-before: 0;
}