#nav {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
    z-index: 1000;

    /* used position fixed to make nav sticky */
}

.home-hdr {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

#nav-back {
    height: 67px;
    background-color: #246EB9;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 1000;
}

.nav-link {
    color: #fffbfc;
    text-decoration: none;
    margin: 0 1em;
    position: relative;
}

.hidden {
    display: none;
}

.nav-link:hover {
    color: #fffbfc;
}

.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    /*left: 0;*/
    background-color: #fffbfc;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: left;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

#home {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url("./bg.jpg");
    top: 0;
    left: 0;
}

.home-hdr {
    text-shadow: 2px 4px 3px rgba(0,0,0,.5);
}

.hdr-hero {
    letter-spacing: .1em;
}

.hdr-support {
    letter-spacing: .2em;
}

.hdr-text {
    color: #fffbfc;
    -webkit-margin-before: 0;
}