#projects {
    background-color: #586F7C;
    text-align: center;
    color: #fffbfc;
}

.projects-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-img {
    max-width: 100%;
}

.project-img-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height:100%;
}

.project-img-overlay-wrap {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.overlay-icon {
    width: 100%;
    color: #fffbfc;
    background-color: #A63D40;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.transparent {
    opacity: .8;
    background-color: black;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-desc {
    font-family: 'Lato', sans-serif;
}

.img-wrap {
    position: relative;
}

.project {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 1em auto;

}

.project-wrap {
    padding: 1em;
}

@media screen and (min-width: 768px) {
    .project {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
  .project {
        width: 40%;
    }
}